{% extends 'base.html' %}
{% block content %}

<h1>Show Products</h1>

<a href="/Inventory/products/add">
    <button>Add Products</button>
</a>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Price</th>
            <th>GST</th>
            <th>Product Available</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for product in show_products %}
        <tr>
            <td>{{product.product_name}}</td>
            <td>{{product.product_code}}</td>
            <td>{{product.price}}</td>
            <td>{{product.gst}}</td>
            <td>{{product.product_available}}</td>
            <td>
                <a href="{% url 'product_update' product.id %}">
                    <button>Update</button>
                </a>
            </td>
            <td>
                <a href="{% url 'product_delete' product.id %}">
                    <button>Delete</button>
                </a>
            </td>
        {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}